<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button class="md-fab md-mini" aria-label="Favorite">
			<md-icon onclick="window.location='https://github.com/EliCDavis'" md-svg-icon="img/icons/octo.svg"></md-icon>
		</md-button>
		<h1>
			Movie Supreme<span ng-bind="toolbar.lastRequest$"></span>
		</h1>
		<span flex></span>
		<div>
			<md-button ng-click="toolbar.topRated()" class="md-raised" aria-label="Learn More">
				Top Rated
			</md-button>
			<md-button ng-click="toolbar.nowPlaying()" class="md-raised" aria-label="Learn More">
				Now Playing
			</md-button>
			<md-button ng-click="toolbar.upcoming()" class="md-raised" aria-label="Learn More">
				Upcoming
			</md-button>
		</div>
	</div>
</md-toolbar>